<div class="fadeIn">
  <div class="titulo">
    <p>
      Somos la mejor opción para ti
    </p>
  </div>
  <div class="titulo2">
    <p>
      Contamos con personal altamente especializado
    </p>
  </div>

  <video src="assets\Botanas Asahel.mp4" class="reproductor-video" controls controlsList="nofullscreen nodownload" autoplay oncanplay="this.muted=true" loop width="100%" >
    Tu navegador no admite el elemento <code>video</code>.
  </video>

  <div class="container-footer-all">
    <div class="container-body">
      <div class="column1">
        <img src="assets\12.jpg" alt="" width="320px">
      </div>
      <div class="column2">
        <img src="assets\10.jpg" alt="" width="320px" height="270px">
      </div>
      <div class="column3">
        <img src="assets\13.jpg" alt="" width="320px">
      </div>
    </div>
  </div>
</div>

