footer {
  background: white;
  width: 100%;
  color: #B2B2B2;
}

.container-footer-all {
  width: 100%;
  margin: auto;
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  padding-bottom: 10px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.column1 {
  max-width: 80px;
}

.column2 {
  max-width: 240px;
}

.column2 h1 {
  font-size: 18px;
  color: #666666;
}
.column2 .row {
  margin-top: 0px;
}


.column3 {
  max-width: 240px;
}
.column3 h1 {
  font-size: 18px;
  color: #666666;
}
.column3 .row {
  margin-top: 0px;
}

.column4 {
  max-width: 240px;
}
.column4 h1 {
  font-size: 18px;
  color: #666666;
}

.column4 .row {
  justify-content: space-around;
}


.column5 {
  max-width: 240px;
}

.column5 h1 {
  font-size: 18px;
  color: #666666;
}
.column5 .row input {
  margin-top: 14px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row a {
  margin-top: 10px;
  color: #B2B2B2;
}

.container-footer {
  width: 100%;
  background: #B52E33;
  color: white;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }
}
